API_URL=https://localhost:3100
NEXT_PUBLIC_API_URL=http://localhost:3100

NEXT_PUBLIC_SUPABASE_URL=supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key

SUPABASE_SERVICE_ROLE=LEGECY_API_KEY